*,
*::after,
*::before {
  box-sizing: inherit;
}

*:not(dialog) {
  margin: 0;
}

*:focus-visible {
  outline: 2px solid #1a1a1a;
  outline-offset: 4px;
  border-radius: 6px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-text));
  font-family: var(--body-font);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

img,
svg,
picture,
video,
iframe,
canvas {
  display: block;
  max-width: 100%;
}

img,
svg {
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

/* UTILITY CLASSES */
.page-width {
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto;
  padding-inline: var(--page-padding-mobile);
}

.page-width--full {
  max-width: none;
}

@media (min-width: 46.875em) {
  .page-width {
    padding-inline: var(--page-padding-desktop);
  }
}

.color-scheme {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-text));
}

[class*="__inner"] {
  border-radius: var(--global-border-radius);
}

.caption {
  color: rgb(var(--color-accent));
}

.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-block {
  display: block;
}

.temp-border {
  border: 1px solid #1a1a1a;
}

.py-2 {
  padding-block: 2rem;
}

@media (width < 75rem) {
  .small-hide {
    display: none;
  }
}

@media (width >= 75rem) {
  .large-up-hide {
    display: none;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.8rem;
  min-width: 9rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.025rem;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: rgb(var(--color-text));
  border: 1px solid transparent;
  border-radius: var(--global-border-radius);
}

.btn-primary {
  background-color: rgb(var(--color-button-bg));
  color: rgb(var(--color-button-text));
  border-color: rgb(var(--color-button-border));
}

.btn-outline {
  color: rgb(var(--color-button-bg));
  border-color: rgb(var(--color-button-border));
}

.btn-link {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* HEADER MENU */

.primary-navigation,
.mobile-navigation {
  order: -1;
}

.dropdown-list {
  position: relative;
}

.dropdown-list > .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  min-width: 12.5rem;
  border: 1px solid black;
}

.dropdown-list-nested > .sub-menu--flyout {
  top: 0;
  left: 100%;
}

.dropdown-list-nested > summary,
.sub-menu a {
  padding: 10px 20px;
}

/* MOBILE NAVIGATION */

mobile-nav {
  order: -1;
}

.mobile-navigation__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 150ms ease;
}

.mobile-navigation__overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: min(85%, 25rem);
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 150ms ease;
  padding: 3rem 1.25rem 1.5rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-navigation.is-open {
  transform: translateY(0);
}

.mobile-navigation__toggle {
  cursor: pointer;
}
.mobile-navigation__close-icon {
  display: none;
}

.mobile-navigation__toggle[aria-expanded="true"] {
  position: fixed;
  top: 1rem;
  left: calc(min(85%, 25rem) - 4rem);
  z-index: 3;
}

.mobile-navigation__toggle[aria-expanded="true"] .mobile-navigation__open-icon {
  display: none;
}

.mobile-navigation__toggle[aria-expanded="true"]
  .mobile-navigation__close-icon {
  display: inline-flex;
}

.mobile-navigation__menu summary,
.mobile-navigation__menu a {
  padding: 0.875rem;
}

.mobile-navigation__submenu {
  padding-left: 1rem;
}

.mobile-navigation__chevron {
  transition: transform 250ms ease;
}

.mobile-navigation__dropdown[open] > summary .mobile-navigation__chevron {
  transform: rotate(180deg);
}

/* RICHTEXT */

.richtext {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.richtext__content {
  padding: var(--padding-inner);
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}
